<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>后台管理</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    -->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/login.css">
	  <link rel="stylesheet" href="/css/xadmin.css">
    <link rel="stylesheet" type="text/css" href="/css/easyui.css" >
    <script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/js/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/js/jquery.form.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
</head>
<body class="login-bg">
    <div class="login layui-anim layui-anim-up">
        <div class="message">后台</div>
        <div id="darkbannerwrap"></div>
        <form method="post" action="/loginOn" id="login_form" >
            <input name="userAccount" id="userAccount" placeholder="用户名"  type="text"  >
            <hr class="hr15">
            <input name="password" id="password" placeholder="密码"  type="password" >
            <hr class="hr15">
            <input name="companyId" id="companyId" placeholder="公司"  type="text"  >
            <hr class="hr15">
            <input name="roleId" id="roleId" placeholder="角色"  type="text" >
            <hr class="hr15">
            <input value="登录"  style="width:100%;" type="button" id="logonBtn">
            <hr class="hr20" >
            <input type="hidden" value="0"  name="ustateid" id="ustateid">
        </form>
    </div>
    <script>
        $(document).ready(function() {
            var companyData = [{id:'1',text:'硕媒科技有限公司'},{id:'2',text:'老元建筑公司'}];
            // 选择公司的下拉框初始化
            $("#companyId").combobox({
                label : "公司：",
                data: companyData ,
                labelAlign : 'right',
                valueField : 'id',
                textField : 'text',
                required : true,
                editable : true
            });
            var roleData = [{id:'1',text:'管理员'},{id:'2',text:'普通员工'}];
            // 选择角色的下拉框初始化
            $("#roleId").combobox({
                label : "角色：",
                labelAlign : 'right',
                valueField : 'id',
                textField : 'text',
                data: roleData,
                required : true,
                editable : true
            });
            $("#logonBtn").bind("click",function() {
                var userAccount = $("#userAccount").textbox("getValue");
                var password = $("#password").textbox("getValue");
                if(userAccount == "") {
                    $.messager.alert('提示','请输入账号！','error');
                    return false;
                }
                if(password == "") {
                    $.messager.alert('提示','请输入密码！','error');
                    return false;
                }
                var submitData = {};
                submitData.userAccount = userAccount;
                submitData.password = password;
                $.ajax({
                    url : 'loginOn',
                    type : 'POST',
                    data : submitData,
                    dataType : 'json',
                    success : function(resultData) {
                        window.location.href="index.html";
                    },
                    error : function(XMLHttpRequest, textStatus, errorThrown) {

                    }
                });
            });
        });

    </script>

</body>
</html>